<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <form action="/auth/login" method="post">
        <input type="text" name="userName">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>

</html>