<head>



    <link rel="stylesheet" href="../css/home.css">

</head>

<body>

    <div class="welcome-container">
        <h1>Welcome to Our Community!</h1>
        <p>Join the conversation and explore exciting discussions on various topics.</p>
        <a href="auth/join" class="join-button">Join Our Community</a>
        <p class="login">Already a member? <a class="login" href="auth/login">Login here</a>.</p>

    </div>
    <div id="space1"></div>
</body>